div.main {
	background-image: url(../img/examImage.jpg);
	background-size: cover;
}

article {
	-webkit-text-stroke: 0.3px #FFFFFF;
}

td.answer {
	visibility: hidden;
}

table {
	background-color: #FFFFFF;
}

tr:nth-child(odd) {
	background-color: #999999;
}

input:focus {
	background-color: #BBBBBB;
}

select:focus {
	background-color: #BBBBBB;
}